.sidenav{
    background-color:rgb(143, 143, 209);
    width:200;
}

.sidenav a {
    color:blue;

}

.sidenav i{
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #fff;
}

